.design-wrap {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  row-gap: 20px;
  flex-wrap: wrap;
  padding: 60px 30px 60px 30px;
  background-color: $openedColor;
  &__big {
    width: 630px;
    height: 552px;
    background-color: $priceBg;
    border-radius: 10px;
    @include postDesktop {
      width: 40vw;
      height: 40vw;
    }

    @include tablet {
      width: 173px;
      height: 344px;
    }

    @include mobile {
      width: 280px;
      height: 124px;
      border-radius: 4px;
    }
  }
  &__last {
    width: 730px;
    height: 552px;
    background-image: url(./../images/photogr.jpg);
    @include backgroundImg;
    @include postDesktop {
      width: 45vw;
    }

    @include tablet {
      width: 455px;
      height: 344px;
    }

    @include mobile {
      width: 280px;
      height: 211px;
      border-radius: 4px;
    }
  }
  &__long {
    width: 912px;
    height: 230px;
    background-color: #ffd233;
    border-radius: 10px;
    @include postDesktop {
      width: 55vw;
    }

    @include tablet {
      width: 180px;
      height: 230px;
    }

    @include mobile {
      width: 280px;
      height: 67px;
      border-radius: 4px;
    }
  }
  &__small {
    width: 448px;
    height: 230px;
    background-image: url(./../images/m2.jpg);
    @include backgroundImg;
    @include postDesktop {
      width: 31vw;
    }

    @include tablet {
      width: 448px;
    }

    @include mobile {
      width: 280px;
      height: 142px;
      border-radius: 4px;
    }
  }

  @include tablet {
    padding: 18px 0 60px 0;
  }

  @include mobile {
    padding-top: 8px;
  }
}
