.remont {
  padding-bottom: 170px;
  &__title {
    margin: 0;
    font-size: 112px;
    line-height: 112px;
    padding-bottom: 20px;
    font-weight: normal;
    @include tablet {
      padding-bottom: 0;
      font-size: 70px;
      line-height: 90px;
    }
    @include postTablet {
      padding: 15px 15px 0 15px;
      font-size: 50px;
      line-height: 70px;
    }
    @include mobile {
      padding: 0 0 0 0;
      font-size: 50px;
      line-height: 60px;
    }
  }
  &__text {
    margin: 0;
    font-size: 80px;
    line-height: 70px;
    font-weight: normal;
    @include tablet {
      font-size: 50px;
      line-height: 60px;
    }
    @include postTablet {
      padding-bottom: 0;
      font-size: 40px;
      line-height: 60px;
      padding: 15px 15px 0 15px;
      box-sizing: border-box;
    }
    @include preMobile {
      padding: 10px 0 0 0;
      font-size: 30px;
      line-height: 38px;
    }
  }
  @include tablet {
    padding-top: 10px;
    padding-bottom: 410px;
  }
  @include mobile {
    padding-top: 0;
    padding-bottom: 200px;
  }
}
