$primaryColor: #8e8e98;
$backColor: #1c1c1e;
$hoverColor: #232327;
$buttonColor: #47474c;
$titleColor: #ffffff;
$priceBg: #25e197;
$openedColor: #000000;
$desktop: 1440px;
$postDesktop: 1439px;
$tablet: 768px;
$postTablet: 728px;
$preMobile: 520px;
$mobile: 320px;
